## Predicting Width of different fish

In [59]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### loading data

In [60]:
df=pd.read_csv('Desktop\MachineLearning\LineaRegression\Fish.csv')
df.reset_index()

     index Species  Weight  Length1  Length2  Length3   Height   Width
0        0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1        1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2        2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3        3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4        4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..     ...     ...     ...      ...      ...      ...      ...     ...
154    154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155    155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156    156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157    157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158    158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 8 columns]

In [61]:
new_dataframe=pd.get_dummies(df,columns=['Species'],drop_first=True)

In [62]:
new_dataframe

,Weight,Length1,Length2,Length3,Height,Width,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,0,0,0,0,0,0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,0,0,0,0,0,0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,0,0,0,0,0,0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,0,0,0,0,0,0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,12.2,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,1,0
155,13.4,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,1,0
156,12.2,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,1,0
157,19.7,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,1,0
158,19.9,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,1,0

In [63]:
X=new_dataframe.drop(['Width'],axis=1)
y=new_dataframe['Width']

### splitting data into train and test

In [64]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

### prediction model

In [65]:
predictor=LinearRegression(n_jobs=-1)

In [66]:
model=predictor.fit(X_train,y_train)

In [67]:
y_prediction=model.predict(X_test)
y_prediction

array([2.51888445, 4.61970213, 3.14331088, 3.95659941, 5.31100647,
       3.38845325, 5.66918391, 1.27920025, 3.33525815, 4.77177787,
       4.84399093, 6.41912873, 7.13828581, 3.69817263, 3.74170567,
       3.36390221, 5.24457599, 6.66334898, 2.12681316, 6.92292105,
       6.33929538, 3.97154187, 5.38396559, 6.90855458, 3.57292467,
       3.21330351, 6.88823924, 2.93857736, 4.07075283, 1.3876154 ,
       4.45832923, 3.30642056])

In [68]:
y_train

12     4.3680
98     4.1658
136    5.1296
147    1.1484
40     3.3516
        ...
130    4.3844
1      4.3056
32     6.7497
135    4.4590
73     1.9992
Name: Width, Length: 127, dtype: float64

### performance

In [69]:
mean_squared_error(y_prediction,y_test)

0.14141759024265077